@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --primary: 0 84% 60%;
  --primary-foreground: 210 40% 98%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

::selection {
  background: rgb(var(--primary));
  color: rgb(var(--primary-foreground));
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}